In [1]:
def fullName(first_name,last_name):
    return last_name+first_name

In [2]:
fullName("Boma","George")

'GeorgeBoma'

In [3]:
def fullName(first_name,last_name):
    return last_name+" "+first_name

In [4]:
fullName("Boma","George")

'George Boma'

In [5]:
def fullName3(first_name,last_name):
    return f"{last_name} {first_name}"

In [6]:
fullName3("Boma","George")

'George Boma'

In [7]:
a=2
b=5
c=a+b
print(f"The sum of {a} and {b} is {c}")

The sum of 2 and 5 is 7

In [9]:
print(f"{c} is the sum of  {a} and {b}")

7 is the sum of  2 and 5

In [10]:
print("The sum of {} and {} is {}".format(a,b,c))

The sum of 2 and 5 is 7

In [11]:
print("The sum of {} and {} is {}".format(c,a,c))

The sum of 7 and 2 is 7

In [12]:
def chatRoom(who,message):
    return f"{who} said {message}"

In [13]:
chatRoom("Smith")

TypeError: chatRoom() missing 1 required positional argument: 'message'

In [14]:
chatRoom("Smith","How are we doing?")

'Smith said How are we doing?'

In [15]:
def chatRoom(who,message):
    return f"{who} said '{message}'"

In [16]:
chatRoom("Smith","How are we doing?")

"Smith said 'How are we doing?'"

## For loop

In [18]:
for k in "Python":
    print(k)
    
    
# for lcv in iterable:
        #do_something

P
y
t
h
o
n

In [19]:
for x in "Do something ":
    print(x+"t")

Dt
ot
 t
st
ot
mt
et
tt
ht
it
nt
gt
 t

## range function

In [20]:
range(10)

range(0, 10)

In [21]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list(range(12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [23]:
list(range(3))

[0, 1, 2]

In [24]:
list(range(1))

[0]

In [25]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
list(range(-3,2))

[-3, -2, -1, 0, 1]

In [28]:
list(range(2,10,1))

[2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
list(range(2,10,3))

[2, 5, 8]

In [31]:
list(range(2,10,4))

[2, 6]

In [32]:
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")

hello
hello
hello
hello
hello

In [33]:
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")

hello
hello
hello
hello
hello
hello
hello

In [35]:
for i in range(10):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [36]:
def salaryInc():
    for i in range(4):
        salary=input("Enter salary: ")
        if salary>=10000:
            print(0.1*salary+salary) # 1.1*salary
        else:
            print(1.05*salary)

In [37]:
salaryInc()

Enter salary: 2000

TypeError: '>=' not supported between instances of 'str' and 'int'

In [38]:
def salaryInc():
    for i in range(4):
        salary=float(input("Enter salary: "))
        if salary>=10000:
            print(0.1*salary+salary) # 1.1*salary
        else:
            print(1.05*salary)

In [39]:
salaryInc()

Enter salary: 2000
2100.0
Enter salary: 11000
12100.0
Enter salary: 3768
3956.4
Enter salary: 70000
77000.0

In [40]:
def salaryInc(n):
    for i in range(n):
        salary=float(input("Enter salary: "))
        if salary>=10000:
            print(0.1*salary+salary) # 1.1*salary
        else:
            print(1.05*salary)

In [41]:
salaryInc(2)

Enter salary: 1000
1050.0
Enter salary: 20009
22009.9

In [43]:
salaryInc(3)

Enter salary: 1000
1050.0
Enter salary: 2000
2100.0
Enter salary: 400
420.0